.faleconosco{
  display: flex;
  justify-content: space-around;
  min-height: 50vh;
}

.secaoform{
  margin-top: auto;
  margin-bottom: auto;
  width: 45vw;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 43vw;
  margin-left: 10px;
  margin-top: 5px;
  padding: 10px;
  border-style: outset;
  border-radius: 7px;
}

.imagem{
  width: 55vw;
  background-image: url(../../Imagens/IMG-20220702-WA0010.jpg);
  background-size: cover;
  background-position: center;
}

.btnenviar{
  text-decoration: none;
  color: white;
  background-color: brown;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  margin: 12px auto 2vh 8vw;
}

@media (max-width: 600px){
  .faleconosco{
    flex-direction: column;
    align-items: center;
  }
  .secaoform{
    width: 100vw;
  }
  .formulario{
    padding: 0;
    margin: 12px auto 8px auto;
    width: 90vw;
  }
  .imagem{
    width: 100vw;
    min-height: 50vh;
  }
}
